body {
    background-color: black;
}

#header {
    color: white;
    background-color: black;
    height: 15%;
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

#header h1 {
    font-size: 40px;
    padding-top: 2%;
}

#nav {
    background-color: black;
    color: white;
    height: 40px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
}

#nav a {
    padding: 10px 20px 10px 20px;
    color: white;
    height: 40px;
    font-size: 20px;
}

#nav a:hover {
    background-color: white;
    color: black;
}

#nav p {
    text-align: center;
}

#content {
    background-color: darkred;
    position: fixed;
    overflow: auto;
    color: black;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 40px;
}

h4 {
    text-align: center;
}

.subtitle {
    text-align: center;
}

#verbindungSchule {
     width: 50%;
     float: left;
}

#verbindungSchule h4{
    text-align: center;
}

#verbindungSchule table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#verbindungHome {
    width: 50%;
    float: right;
}

#verbindungHome h4{
    text-align: center;
}

#verbindungHome table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#stundenplanTable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#footer {
    color: white;
    background-color: black;
    position: fixed;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}

#name {
    float: left;
    padding-left: 2%;
}

#project {
    float: right;
    padding-right: 2%;
}

#email {
    text-align: center;
}

#loginDiv {
    background: darkred;
    position: fixed;
    overflow: auto;
    text-align: center;
    color: white;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
}

#loginDiv table{
    display: inline;
}
