body {
    background-color: black;
}

#content {
    background: darkred;
    position: fixed;
    overflow: auto;
    text-align: center;
    color: white;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
}

#content table{
    display: inline;
}

submitButton {
    visibility: hidden;
}

#loginlink {
    color: white;
    font-size: 15px;
    border: white;
    background-color: aliceblue;
}
